############################
# General Setup
############################

APPLICATION=.

DATA_SAVE_PATH=~/.blog/data

APPLICATION_HTTP_PORT=8080
APPLICATION_GRPC_PORT=8082

### MYSQL ##############################################################################################################

MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

### ELASTICSEARCH ######################################################################################################

ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300


### KIBANA #############################################################################################################

KIBANA_HTTP_PORT=5601